<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nyaaar.partridgemngservice.mapper.TagInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.nyaaar.partridgemngservice.entity.TagInfo">
        <id column="ID" property="id" />
        <result column="NAME" property="name" />
        <result column="GROUP_NAME" property="groupName" />
        <result column="SOURCE" property="source" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, NAME, GROUP_NAME, SOURCE, CREATED_TIME, UPDATED_TIME
    </sql>

</mapper>
