<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.nyaaar.partridgemngservice.mapper.UserCollectionLikeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.nyaaar.partridgemngservice.entity.UserCollectionLike">
        <id column="ID" property="id" />
        <result column="USER_NAME" property="userName" />
        <result column="COLLECTION_ID" property="collectionId" />
        <result column="AVAILABLE_FLAG" property="availableFlag" />
        <result column="CREATED_TIME" property="createdTime" />
        <result column="UPDATED_TIME" property="updatedTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        ID, USER_NAME, COLLECTION_ID, AVAILABLE_FLAG, CREATED_TIME, UPDATED_TIME
    </sql>

</mapper>
